@charset "UTF-8";
/* CSS Document */
.main{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4e8f9+0,005b7c+100 */
background: #d4e8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #d4e8f9 0%, #005b7c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d4e8f9 0%,#005b7c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d4e8f9 0%,#005b7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e8f9', endColorstr='#005b7c',GradientType=0 ); /* IE6-9 */

}
.logo{
    height: 50px;
}
.menu{
    height: 50px;
   
}
.slider{
    height: 550px;
    
}
.cot{
    height: 300px;
    background-color: antiquewhite;
    border: 1px #FFFFFF solid;
    margin: 10px;
}
